[account]
username = "bot@jabber.org"
password = ""
resource = "bot"
server = "jabber.org"
port = 5222
notls = false
self_signed = false # 服务器证书是自签名的
session = false #如果不清楚，请设置为false

[setup]
admin = ["yetist@gmail.com", "yetist@jabber.org"]
debug = false
auto_subscribe = true
cmd_prefix = "--"
status = "chat" # away, chat, dnd, xa.
status_message = "我在线上"
web_host = "localhost"
web_port = 3000

[[setup.rooms]]
jid = "gajim@conference.gajim.org"
nickname = "water"
#password = ""

[[setup.rooms]]
jid = "test@conference.gajim.org"
nickname = "snow"
#password = ""

######## 插件配置项 ########
[plugin.about]
enable = true

[plugin.logger]
enable = true
chat = true
room = true
dbtype = "sqlite3" #maybe sqlite3, mysql
dbname = "xmppbot.db"
#dbpass = ""
#dbuser = ""

[plugin.notify]
enable = true
authuser = "hanmeimei" #maybe sqlite3, mysql
authpass = "hanmeimei" #maybe sqlite3, mysql
allows = ["127.0.0.1"]

[plugin.random]
enable = false
fuck = "fuck.txt"
random = "random.txt"

[plugin.tuling]
enable = true
key = "xxxyyyy"

[plugin.url]
enable = true
chat = true
room = true
timeout = 5

[plugin.ip]
enable = true
db = "qqwrt.dat"
