[account]
username = "bot@jabber.org"
password = ""
resource = "bot"
server = "jabber.org"
port = 5222
notls = true
session = false #如果不清楚，请设置为false

[setup]
admin = ["yetist@gmail.com", "yetist@jabber.org"]
debug = false
auto_subscribe = true
cmd_prefix = "--"
status = "chat" # away, chat, dnd, xa.
status_message = "我在线上"

[[setup.rooms]]
jid = "linuxcn@conference.jabber.org"
nickname = "bot"
#password = ""

[[setup.rooms]]
jid = "linuxcn@conference.jaim.org"
nickname = "bot"
#password = ""

######## 插件配置项 ########
[plugin.auto-reply]
enable = false
fuck = "fuck.txt"
random = "random.txt"

[plugin.tuling]
enable = true
key = "xxxyyyy"

[plugin.logger]
enable = true
chat = true
room = true
logger = "xmpplog.sqlite"

[plugin.url-helper]
enable = true
chat = true
room = true
timeout = 5

[plugin.ip]
enable = true
db = "qqwrt.dat"
